.home {
  position: relative;
    float: left;
  z-index: 1;
  background: #FFFFFF;
  width: 60%;
    height: 60%;
  margin: 0 auto 100px;
  padding: 50px;
  text-align: left;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


body {
  background: #64a8f1; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #64a8f1, #64a8f1);
  background: -moz-linear-gradient(right, #64a8f1, #64a8f1);
  background: -o-linear-gradient(right, #64a8f1, #64a8f1);
  background: linear-gradient(to left, #64a8f1, #64a8f1);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}